<div id="container">
  <!-- <h2 id="appHeading">App Component</h2>
  <app-custom> </app-custom> -->
  <!-- <h2>{{ name }}</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis incidunt
    quidem repudiandae, aspernatur consectetur tempora necessitatibus ratione.
    Placeat facere voluptate quaerat quae, aliquam dolorem distinctio nemo
    eligendi minus numquam unde? Velit, consequuntur modi itaque laboriosam
    voluptatum quaerat molestias obcaecati, aperiam quisquam tenetur illum
    eveniet. Modi pariatur fuga aspernatur ipsa veritatis?
  </p> -->
  <!-- <app-main> </app-main> -->

  <!-- <app-header></app-header>
  <app-main> </app-main> -->
  <!-- <app-main> </app-main> -->
  <!-- <app-footer></app-footer> -->
  <!-- <app-bootstrap-c></app-bootstrap-c> -->
  <!-- <app-gridsystem></app-gridsystem> -->
  <!-- <app-amazongrid></app-amazongrid> -->
  <app-cards></app-cards>
</div>
