<div class="mainContainer">
  <div class="subContainer">
    <h2 class="display-2">Welcome to Angular</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
      laudantium blanditiis dicta quia earum voluptatum ab corrupti temporibus
      amet optio! Reprehenderit magni iste, architecto aliquam odit quo mollitia
      sint nulla dolore libero commodi soluta dicta nihil corporis dolorem
      tenetur, adipisci delectus hic. Similique, deserunt itaque sint deleniti
      eius alias rem?Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Voluptatibus rem iste tempore obcaecati eaque facere quae, praesentium
      quia quo, culpa quasi. Beatae ullam quos sed tempore qui dolorum
      consequatur, atque ratione itaque deleniti nam, consequuntur fugit
      obcaecati sunt, dolore hic illum officiis omnis ut officia laborum?
      Praesentium voluptas impedit aliquam, molestiae iste voluptatem officiis
      porro minima, officia tempore nisi repellat?
    </p>
    <button class="btn mt-3 btn-outline-success">Explore More !!!</button>
  </div>
</div>
