<div class="mainContainer">
  <div class="subContainer">
    <h2 class="display-2">Welcome to Angular</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
      laudantium blanditiis dicta quia earum voluptatum ab corrupti temporibus
      amet optio! Reprehenderit magni iste, architecto aliquam odit quo mollitia
      sint nulla dolore libero commodi soluta dicta nihil corporis dolorem
      tenetur, adipisci delectus hic. Similique, deserunt itaque sint deleniti
      eius alias rem?
    </p>
    <button class="btn btn-outline-success">Explore More !!!</button>
  </div>
</div>
