<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h2>Parent To Child</h2>
        </div>
        <div class="card-body">
          <input type="text" class="form-control" #input />
          <button
            class="btn mt-2 px-5 btn-outline-info"
            (click)="getParentData(input)"
          >
            Send
          </button>
        </div>
        <div class="card-footer">
          <app-childc [childData]="parentData"></app-childc>
        </div>
      </div>
    </div>
  </div>
</div>
