<div class="container mt-5">
  <div class="row">
    <div [ngStyle]="mybox">
      <h2>Angular</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore culpa
        dolor aliquid natus quibusdam distinctio quas asperiores commodi
        exercitationem dolores recusandae veritatis aut corrupti quaerat, veniam
        aspernatur alias praesentium, eos unde impedit architecto maiores labore
        officiis! Illum possimus repellat quibusdam molestiae, eum mollitia qui.
        Quis itaque necessitatibus perferendis laboriosam iure?
      </p>
      <button class="btn btn-primary" (click)="changeStyle()">
        Read More !!!
      </button>
    </div>
  </div>
</div>
