<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand mx-5">Angular Directives</a>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link text-white">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/userProfile" class="nav-link text-white"
          >UsersProfile</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/ngswitch" class="nav-link text-white">ngSwitch</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/products" class="nav-link text-white">Products</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="/users" class="nav-link text-white">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ngclass" class="nav-link text-white">ngClass</a>
      </li>
      <li class="nav-item">
        <a routerLink="/ngstyle" class="nav-link text-white">ngStyle</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/inputd" class="nav-link text-white">Input Decorator</a>
      </li> -->
      <!-- <li class="nav-item">
        <a routerLink="/outputd" class="nav-link text-white"
          >Output Decorator</a
        >
      </li> -->
      <li class="nav-item">
        <a routerLink="/httpclient" class="nav-link text-white">HttpClient</a>
      </li>
      <li class="nav-item">
        <a routerLink="/chat" class="nav-link text-white">Chat</a>
      </li>
      <li class="nav-item">
        <a routerLink="/category" class="nav-link text-white">Category</a>
      </li>
    </ul>
  </div>
</nav>
