<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <dl>
        <dt>NAME</dt>
        <dd><input type="text" class="form-control" [(ngModel)]="uname" /></dd>
        <dt>Email</dt>
        <dd><input type="text" class="form-control" [(ngModel)]="email" /></dd>
        <dt>Phone</dt>
        <dd><input type="text" class="form-control" [(ngModel)]="phone" /></dd>
      </dl>
    </div>
    <div class="col-4">
      <dl>
        <dt>NAME</dt>
        <dd>{{ uname }}</dd>
        <dt>EMAIL</dt>
        <dd>{{ email }}</dd>
        <dt>Phone</dt>
        <dd>{{ phone }}</dd>
      </dl>
    </div>
  </div>
</div>
