<div class="container bg-dark">Container</div>

<div class="container mt-5 p-5 bg-primary">
  <div class="row m-3 bg-secondary">Row 1</div>

  <div class="row m-3 bg-danger">Row 2</div>
  <div class="row m-3 bg-warning">Row 3</div>
</div>

<div class="container bg-warning mt-5 p-3">
  <div class="row bg-danger">
    <div class="col bg-primary">Col 1</div>
    <div class="col bg-secondary">Col 2</div>
    <div class="col bg-danger">Col 3</div>
    <div class="col bg-primary">Col 4</div>
    <div class="col bg-secondary">Col 5</div>
    <div class="col bg-danger">6</div>
    <div class="col bg-primary">7</div>
    <div class="col bg-secondary">8</div>
    <div class="col bg-danger">9</div>
    <div class="col bg-primary">10</div>
    <div class="col bg-secondary">11</div>
    <div class="col bg-danger">12</div>
  </div>

  <div class="row mt-3">
    <div class="col-3 bg-primary">Col</div>
    <div class="col-9 bg-danger">Col</div>
  </div>
  <div class="row mt-3">
    <div class="col-4 bg-primary">Col</div>
    <div class="col-4 bg-danger">Col</div>
    <div class="col-4 bg-success">Col</div>
  </div>
</div>
