<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/1181371/pexels-photo-1181371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Software Developer</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora
            sit ullam debitis nostrum ipsa vero nihil voluptas non laborum!
          </p>
          <button class="btn btn-outline-warning">Profile</button>
        </div>

        <div class="card-footer">
          <h5>All Right are Reserved</h5>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <img
            src="https://images.pexels.com/photos/3201630/pexels-photo-3201630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            width="100%"
            height="100%"
          />
        </div>

        <div class="card-body">
          <h3>Software Tester</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A tempora
            sit ullam debitis nostrum ipsa vero nihil voluptas non laborum!
          </p>
          <button class="btn btn-outline-warning">Profile</button>
        </div>

        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
