/* .container {
     margin-top: 100px;
     width: 900px;
     height: 300px;
     border:2px solid black;
    display: grid;
    grid-template-columns: 600px 300px ;
}
.div1 {
    background-color: blueviolet;
}
.div2 {
    background-color: blue;
} */