<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>User's Profile Information</h2>
      <p class="lead">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime ratione
        maiores laudantium facilis minima optio accusamus quasi. Suscipit, alias
        ullam! Obcaecati et blanditiis repellat. Nihil temporibus sapiente amet
        nisi sed itaque minima? Deserunt beatae nobis nisi qui voluptas esse
        quia pariatur fugit odio, doloribus enim tempora ab magni natus
        corporis, incidunt porro possimus alias, dolores quos accusantium sit?
        Aliquam impedit repellendus eligendi amet, quam quod et. Maxime,
        voluptatibus cumque. Officia.
      </p>
      <button class="btn btn-outline-primary" (click)="getUsersData()">
        Get Users
      </button>
    </div>
  </div>

  <div class="row mt-5" *ngIf="showRadio">
    <div class="col-2 form-check form-inline">
      <input
        type="radio"
        class="form-check-input"
        name="gender"
        checked
        (change)="filterData('all')"
      />
      ALL
    </div>
    <div class="col-2 form-check form-inline">
      <input
        type="radio"
        class="form-check-input"
        name="gender"
        value="male"
        (change)="filterData('male')"
      />
      MALE
    </div>
    <div class="col-2 form-check form-inline">
      <input
        (change)="filterData('female')"
        type="radio"
        class="form-check-input"
        name="gender"
        value="female"
      />
      FEMALE
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3" *ngFor="let user of filteredUser">
      <div class="card">
        <div class="card-header">
          <img [src]="user.picture.medium" width="100%" height="100%" />
        </div>

        <div class="card-body">
          <h3>{{ user.name.first }} {{ user.name.last }}</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            aperiam reprehenderit quaerat vitae dolorum dolores?
          </p>
          <p>{{ user.gender }}</p>
          <button class="btn btn-danger">Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
